backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
idna==2.8
pdfdocument==3.3
Pillow==7.1.0
reportlab==3.5.23
requests==2.22.0
soupsieve==1.9.3
urllib3==1.25.8
